body {
    font-family: "Varela Round";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.clearfix {
    display: block;
}
.clearfix:before,
.clearfix:after,
.clear:before, 
.clear:after, 
.entry-content:before, 
.entry-content:after, 
.comment-content:before, 
.comment-content:after, 
.site-header:before, 
.site-header:after, 
.site-content:before, 
.site-content:after, 
.site-footer:before, 
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clearfix:after,
.clear:after, 
.entry-content:after, 
.comment-content:after, 
.site-header:after, 
.site-content:after, 
.site-footer:after {
    clear: both;
}
/*--------------header--------------*/
.main-header .header-nav-above {

    border-bottom: 1px solid #e4e5e7;
}

.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-header .header-customize {
    margin-left: 30px;
}

.main-header .header-logo-left {
    float: left;
    height: 174px;    
}
.main-header .header-customize-right {
    float: right;
    height: 174px;    
}
.main-header .search-with-category {
    width: 720px;
}
/*---------------search---------------*/

.main-header .search-with-category .form-search-left {
    position: relative;
    width: 186px;
}
.main-header .search-with-category .form-search-left select {
    border: solid 2px #eee;
    display: inline-block;
    height: 50px;
    line-height: 46px;
    vertical-align: middle;
    width: 100%;
    border-right: none;
    padding: 0 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
}
.main-header .search-with-category .form-search-right {
    position: relative;
    padding-left: 186px;
}
.main-header .search-box input {
    border: solid 1px #eee;
    color: #191919;
    background-color: transparent;
    height: 50px;
    line-height: 48px;
    width: 100%;
    padding-left: 20px;
    max-width: 100%;
    vertical-align: middle;
}
.main-header .search-box button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    margin: auto;
    padding: 0;
    line-height: 1;
}

.header-customize-item {
    position: relative;
    margin-left: 30px;
}



@media (min-width: 1200px){
.container {
    width: 1200px;
}

}

@media screen and (min-width: 992px){
.main-header .header-customize-item {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
}